@import 'tailwindcss';

@theme {
  --font-sans: 'Avenir', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

.new-theme-bg {
  background-color: #6b8e23; /* Change to your desired background color */
}
