.container {
  width: 100%;
  max-width: 450px;
  text-align: center;
  /* -webkit-mask-image: url(#mask); */
  mask-image: url(#mask);
}

@keyframes expandCircle {
  from {
    r: 1;
  }
  to {
    r: 400;
  }
}

.expand-circle {
  animation: expandCircle 2s forwards;
}
