.wrapper {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

circle {
  transition: r 2s ease-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #6b8e23;
  mask-image: url(#mask);
}

.target-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--text-4xl);
}
