.container {
  width: 400px;
  text-align: center;
  position: relative;
  /* -webkit-mask-image: url(#mask); */
  /* mask-image: url(#mask); */
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}

.masked {
  mask-image: url(#mask);
}

@keyframes expandCircle {
  from {
    r: 1;
  }
  to {
    r: 400;
  }
}

.expand-circle {
  animation: expandCircle 2s forwards;
}

.divy {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 300px;
  background-color: #6b8e23;
}
